body {
    
	margin: auto;
    width: 95%;
    background-color: #e1faff;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: right;
    font-size: 1.5em;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding-top:2%;
    list-style: none;
    font-weight: bold;
    text-align: left;
	font-size:1.5vw;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size:1.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.3em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: left;
}

img {
	display: block;
	margin-left: auto;
	padding-bottom: 5%;
	padding-top:2.5%;
	height:auto;
	width:auto;
}

.status {
  float: left;
  clear: none;
}
.circular--portrait {
  float: left;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;

}
.circular--portrait img {
	width: 100%;
	height: auto;
	
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.about{
	padding-left: 300px;
	height: 200px;
	margin: 40px;
}
.skill{
	padding-left: 50px;
}
.skillImage{
	float: left;
	position: relative;
	width: 200px;
	height: 200px;
}