<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
			<h3 style="text-align:right;">  <a href="/pages/about">About</a> &nbsp; <a href="/pages/blog">Blog</a></h3>
			</nav>
			<div class="container">
			{{ content }}
			
			</div><!-- /.container -->

			<footer>
			<a href="https://github.com/akarui" target="_blank"> 
			<img src="/imgs/Akarui.png" alt="Akarui" style="float:right; width:5%;height:12%;padding-right:2%;padding-top:2.3%; ">
			</a>
			</footer>
		</body>
	</html>